<div class="medium-10 medium-centered columns res-box transparent">
  <h2 class="resolutions-title">On Track:</h2>
  <% @resolutions.each_with_index do |resolution, index| %>
    <div class="row <%= "subtle-background" if index % 2 == 1 %>">
      <div class="medium-10 columns">
        <h4 class="on-track"><%= resolution.title %></h4>
      </div>
      <div class="medium-2 columns">
        <h4><a href="#"><i class="fail-link failed fa fa-frown-o"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><i class="trash fa fa-trash"></i></a></h4>
      </div>
    </div>
  <% end %>

  <h2 class="resolutions-title">Failed:</h2>
  <% if @failed %>
    <% @failed.each_with_index do |resolution, index| %>
      <div class="row <%= "subtle-background" if index % 2 == 1 %>">
        <div class="medium-10 columns">
          <h4 class="on-track"><%= resolution.title %></h4>
        </div>
        <div class="medium-2 columns">
          <h4><a href="#"><i class="trash fa fa-trash"></i></a></h4>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="row">
      <div class="medium-10 columns">
        <h4 class="failed">Nothing! Keep up the good work!</h4>
      </div>
    </div>
  <% end %>
</div>

