<div class="medium-10 medium-centered columns res-box transparent">
  <h2 class="resolutions-title">Your failed resolutions:</h2>
  <% if !@failed_res.empty? %>
    <% @failed_res.reverse.each_with_index do |resolution, index| %>
      <div class="row <%= "subtle-background" if index % 2 == 1 %>">
        <div class="medium-8 columns">
          <h4 class="failed-title"><%= resolution.title %></h4>
        </div>
        <div class="medium-4 columns">
          <form action='/resolution/<%= resolution.id %>' class="control-form" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="link-button"><i class="fa fa-trash fa-lg trash"></i></button>
          </form>
          <form action='/resolution/<%= resolution.id %>/revive' class="control-form" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <button type="submit" class="link-button"><i class="revive res-action-link fa fa-medkit fa-lg"></i></button>
          </form>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="row">
      <div class="medium-10 columns">
        <h4 class="failed">Nothing! Keep up the good work!</h4>
      </div>
    </div>
  <% end %>
</div>
