.transparent {
  background:rgba(27, 27, 27, 0.81);
}

.logo-text a {
  color: #AFEA58 !important;
}

.index-prompt {
  margin-top: 20%;
}

.index-prompt a {
  color: #AFEA58;
}

.index-prompt a:hover {
  color: #D7FAF6;
}

.index-welcome {
  color: #AFEA58;
}

.resolutions-title {
  color: #AFEA58;
}

.on-track {
  color: #71FF00;
  margin-top: 5.5px;
}

.fail-link:hover {
  color: #FFFFFF;
}

.failed {
  color: #FF7676;
}

.failed-title {
  color: #FF7676;
  margin-top: 5.5px;
}

.body-image {
  height: 100vh;
}

.link-button {
  background: none;
  border: none;
  display: inline-block;
  margin-bottom: 0px !important;
}

.fail-button {
  float: right;
}

.left-nav-section {
  height: 100%;
  background-color: #183337;
  left: 0;
  float: left;
  }

.resolution-controls {
  margin-top: 6.5em;
  margin-bottom: 14em;
}

.res-box {
  margin-top: 3em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.trash {
  color: #FFD500;
}

.trash:hover {
  color: #FFFFFF;
}

.trash-form {
  display: inline-block;
  float: right;
}

.failed-form {
  display: inline-block;
  float: right;
}

.failed-response {
  margin-top: 5.5px;
  float: right;
}

.subtle-background {
  background-color: rgba(113, 255, 0, 0.02);
}

.auth-form {
  margin-top: 5em;
  padding: 1em;
}

.form-label {
  color: #D7FAF6;
}

.name {
  margin-top: 2em !important;
}

.error-prompt {
  color: #FF7676;
}

.error-prompt a {
  color: #D7FAF6;
}

.nav-links a {
  color: #D7FAF6 !important;
}

h1, h2, h3, h4, h5, a, span {
  font-family: 'Roboto Condensed', sans-serif;
}

form, p {
  font-family: 'PT Sans', sans-serif;
}

@media screen and (max-height: 700px) {
  .resolution-controls {
    margin-top: 2em;
    margin-bottom: 4em;
  }

  .name {
    margin-top: 2em !important;
  }

  .auth-form {
    margin-top: 1.5em;
    padding: 1em;
  }

}
