.transparent {
  background:rgba(27, 27, 27, 0.81);
}

.index-prompt {
  margin-top: 20%;
}

.index-prompt a {
  color: #AFEA58;
}

.index-prompt a:hover {
  color: #D7FAF6;
}

.index-welcome {
  color: #AFEA58;
}

.resolutions-title {
  color: #AFEA58;
}

.on-track {
  color: #71FF00;
}

.fail-link:hover {
  color: #FFFFFF;
}

.failed {
  color: #FF7676;
}

.body-image {
  height: 100vh;
  }

.left-nav-section {
  height: 100%;
  background-color: #183337;
  left: 0;
  float: left;
  }

.resolution-controls {
  margin-top: 6.5em;
  margin-bottom: 14em;
}

.res-box {
  margin-top: 3em;
}

.trash {
  color: #FFD500;
}

.trash:hover {
  color: #FFFFFF;
}

.subtle-background {
  background-color: rgba(113, 255, 0, 0.02);
}

.name {
  margin-top: 2em !important;
}

.name a {
  color: #D7FAF6 !important;
}

.error-prompt {
  color: #FF7676;
}

.error-prompt a {
  color: #D7FAF6;
}

.nav-links a {
  color: #D7FAF6 !important;
}

h1, h2, h3, h4, h5, a{
  font-family: 'Roboto Condensed', sans-serif;
}

form, p {
  font-family: 'PT Sans', sans-serif;
}

@media screen and (max-height: 700px) {
  .resolution-controls {
    margin-top: 2em;
    margin-bottom: 4em;
  }

  .name {
    margin-top: 2em !important;
  }
}
